{% extends 'base.html.twig' %}

{% block title %}New TrmVersion{% endblock %}

{% block body %}
    <h1>Create new TrmVersion</h1>

    {{ include('trm_version/_form.html.twig') }}

    <a href="{{ path('app_trm_version_index') }}">back to list</a>
{% endblock %}
